<!-- start header -->
<nav class="navbar navbar-expand-lg sticky-top nav-shadow bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand text-light fw-bold logo" href="#">NINJA</a>
    <div><img src="../../../assets/imgs/logo.png" alt="" width="40px" /></div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="d-flex">
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown link
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="ms-5">
          <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input
              class="accent-bg-color rounded-pill border-0 form-control me-2"
              type="search"
              placeholder="Search Ninja"
              aria-label="Search"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
